<div class="app-container">
  <h1 class="title">¡Bienvenido a TuLlamaChat!</h1>
  <img src="https://ollama.com/public/assets/c889cc0d-cb83-4c46-a98e-0d0e273151b9/42f6b28d-9117-48cd-ac0d-44baaf5c178e.png"/>
  
  
  <div class="chat-container">
    <div class="chat-window">
      <div *ngFor="let chat of chatHistory" class="chat-message" 
           [ngClass]="{'user-message': chat.sender === 'user', 'ollama-message': chat.sender === 'ollama'}">
        <strong *ngIf="chat.sender === 'ollama'">Llama:</strong>
        <span>{{ chat.content }}</span>
      </div>      
        <div *ngIf="isLoading" class="loading-container">
          <mat-spinner diameter="50"></mat-spinner>
          <p>Llama está pensando...</p>
      </div>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field" appearance="fill">
        <input matInput [(ngModel)]="message" placeholder="Escribe tu mensaje" />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="sendMessage()">Enviar</button>
    </div>

    <div class="actions">
      <button mat-icon-button color="primary" (click)="openFileDialog()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input type="file" hidden #fileInput (change)="handleFileInput($event)" accept=".txt" />

      <button mat-raised-button color="accent" (click)="summarize()">Resumir</button>

      <mat-form-field appearance="fill" class="language-select">
        <mat-label>Selecciona idioma</mat-label>
        <mat-select [(value)]="selectedLanguage">
          <mat-option *ngFor="let language of languages" [value]="language.code">
            {{ language.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="warn" (click)="translate()">Traducir</button>
    </div>
  </div>
</div>
